@charset "utf-8";

#box1 {
    border: 1px solid grey;
    width: 600px;
    padding: 10px;
}

.a {
    font-size: 20px;
    color: rgb(174, 50, 3);
    font-weight: bolder;
    line-height: 30px;
}
